@import "loading";

body {
  padding-top: 0px !important;
  padding-top: 0px !important;
}

ul, ol {
  margin-bottom: -1px !important;
}


table {
  border-collapse: inherit !important;
}

footer-cmp{
  background-color: #3c3c3c;
}

.formUser{
}

.navbar-default{
  background-color: white !important;
  color:white;
}

.fix-input-group{
  padding-left: 15px !important;
  padding-right: 15px !important;
}


.fix-form-group{
  display: inline !important;
}

.fix-jumbotron{
  padding-bottom: 20px !important;
}

.fix-jumbotron-container{
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}

.bac-header{
  margin-left: 25px !important;
  margin-top: 15px !important;
}

.img-misc{
  background-image: url(edificio.jpg);
}


.bac-header {
  width: 170px;
  height: 30px;
  background-image: url(bac-header.png);
  background-image: url(bac-header.svg);
}

  
.bac-footer {
  width: 170px;
  height: 30px;
  background-image: url(bac-footer.png);
  background-image: url(bac-footer.svg);
}

.table-gcba{
  table-layout: fixed;
}

.text-ellipsis > td{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input-group-btn-fix{
  top: 13px;
}

.button-search-fixed{
  margin-bottom: 0px;
  top: 25px;
}

.glyphicon-ok{
  color:green;
}

.glyphicon-remove{
  color:red;
}

.footer {
  padding: 30px 0 0 0 !important;
}

.view-height{
  min-height: 500px
}

.buttons-modal{
  padding: 20px 0;
}

.icons-drop{
  margin: 0px 10px 0 0;
}


.navbar-right .dropdown-menu {
  right: -15px !important;
  left: auto;
}

.img-logo{
  content:url("logo2.png");
}

.navbar-default .navbar-nav > li > a {
  color: #777;
  padding: 41px 53px 7px 3px;
}

@font-face {
  font-family: 'solido';
  src: url('../fonts/roboto/Anisa Sans.ttf');
}
h2{
  font-size:38px;
  color:#222222;
  font-family:'solido' !important;
  font-weight:700;
  margin:35px 0 25px 0;
  text-align:center;
  text-transform:uppercase;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'solido' !important;
  padding: 50px 118px 20px 0px;
  
}


.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  color: rgb(49, 118, 255) !important;
  background-color: rgba(238, 238, 238, 0)!important;
}

p {
  font-size:20px;
  color:#222222;
  font-family:'solido';
}

.navbar{
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background: beige;
}

.navbar-nav > li > a {
  padding-top: 13px;
  padding-bottom: 15px;
  font-family: 'Solido';
  color: #000000 !important;
  display: inline-block ;
  list-style-type: none;
}


a {
  color: #000000 !important;
  text-decoration: none;
}

.carousel-inner{
  position: relative;
  width: 100%;
  zoom: 220%;
  margin: 0px 27px 0px 0px;
  overflow: hidden;
}
  