<!--<nav class="navbar navbar-default" role="navigation">-->
    <!--<div class="navbar-collapse collapse  fadeInLeft">-->
        <!--<img class="disabled fadeInDown img-logo" >-->
        <!--<div class="col-sm-12 text-center">-->
            <!--<ul class="nav navbar-nav fadeIn ">-->
                <!--<li class="list-inline animated fadeInLeft"><a ng-href="#/home">Inicio</a></li>-->
                <!--<li class="list-inline animated fadeInLeft"><a href="#/pymes">Pymes Y Pequeños Comercios</a></li>-->
                <!--<li class="list-inline animated fadeInLeft"><a href="#">Servicios</a></li>-->
                <!--<li class="list-inline animated fadeInLeft"><a href="#">Contacto</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<img class="disabled fadeInDown img-logo" >
<nav class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav fadeIn">
        <li class="list-inline animated fadeInLeft"><a ng-href="#/home">Inicio</a></li>
        <li class="list-inline animated fadeInLeft"><a href="#/pymes">Pymes Y Pequeños Comercios</a></li>
        <li class="list-inline animated fadeInLeft"><a href="#">Servicios</a></li>
        <li class="list-inline animated fadeInLeft"><a href="#">Contacto</a></li>
    </ul>
</nav>


