<nav class="navbar navbar-default  fadeInLeft" role="navigation">
    <div class="navbar-collapse collapse  fadeInLeft">
        <img src="/logo.png">
        <ul class="nav navbar-nav navbar-right fadeIn ">
            <li class="list-inline  fadeInLeft"><a href="#">Inicio</a></li>
            <li class="list-inline"><a href="#">Pymes Y Pequeños Comercios</a></li>
            <li class="list-inline"><a href="#">Servicios</a></li>
            <li class="list-inline"><a href="#">Contacto</a></li>
            <li class="list-inline"><a href="#">Info</a></li>

        </ul>
    </div>
</nav>


