<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse collapse  fadeInLeft">
        <img class="disabled fadeInDown img-logo" >
        <ul class="nav navbar-nav navbar-right fadeIn ">
            <li class="list-inline animated fadeInLeft"><a ng-href="#/home">Inicio</a></li>
            <li class="list-inline animated fadeInLeft"><a href="#/pymes">Pymes Y Pequeños Comercios</a></li>
            <li class="list-inline animated fadeInLeft"><a href="#">Servicios</a></li>
            <li class="list-inline animated fadeInLeft"><a href="#">Contacto</a></li>
        </ul>
    </div>
</nav>


