<div class="container">
    <div class="row">
        <div class="form-group col-md-4 col-md-offset-4">
            <h2>Nueva Contraseña</h2>
        </div>
    </div>
    <div class="formUser">
        <form name="formUser" ng-submit="vm.updateUser(formUser)">
            <div class="row">
                <div class="form-group col-md-4 col-md-offset-4">
                    <label>{{'user.account.contraseña.nueva' | translate}}</label>
                    <input type="password" class="form-control" ng-model="vm.entity.newPassword"
                           aria-describedby="basic-addon2">
                    <div ng-if="vm.newPassword" class="alert alert-danger"
                         role="alert">{{'user.account.msj.error.password.valid' | translate}}</div>
                </div>
                <label ng-if="vm.ero" class="alert alert-danger"
                     role="alert">La contraseña no acepta las politicas de seguridad.</label>
            </div>
            <div class="row">
                <div class="form-group col-md-4 col-md-offset-4">
                    <label>{{'user.account.contraseña.nueva.check' | translate}}</label>
                    <input type="password" class="form-control" ng-model="vm.entity.newPasswordCheck"
                           aria-describedby="basic-addon2">
                    <div ng-if="vm.oldPassword" class="alert alert-danger"
                         role="alert">{{'user.account.msj.error.hash.expired' | translate}}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 col-md-offset-4">
                    <button type="submit" ng-disabled="!formUser.$valid"
                            class="btn btn-sm btn-primary">{{'user.account.btn.save' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>